<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><a routerLink="/" >Home</a></li>
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><a routerLink="headlines" >Top Headliness</a></li>
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><a routerLink="sources" >Top Sources</a></li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

